@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

html{
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 75px 2fr 1px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}
#menu{
    background: rgb(232, 197, 109);
    border-radius: 1rem;
    margin: 1rem;
}
#cart-plus{
    position: absolute;
    right: 150px;
    color: goldenrod;
    background: black;
    border: 0px;
}
#food-items{
    overflow: auto;
    height: calc(100vh - 86px);
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}
::-webkit-scrollbar{
    display: none;
}
#map{
    font-size: 25px;
    color: red;
}
.food-items{
    display: none;
}
.cart-toggle{
    display: block;
}
.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
}
.util i:active{
    color: white;
    background: crimson;
}
#biryani{
    margin-top: 40px;   
}
#category-name,.item-menu{
    margin: 10px;
    font-size: 35px;   
    color: rgb(232, 197, 109);
    font-family: 'Aclonica', sans-serif;
}
#item-card{
    z-index: -7;
    width: 15rem;
    height: 12;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all step-end;
}
#item-card:hover img{
    transform: scale(1.04);
}
#card-top{
    z-index: 5;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}
#rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 15px;
}
.fa-heart-o{
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}
.add-to-cart{
    padding: 6px;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0px;
    color: goldenrod;
    background: black;
}
.toggle-heart{
background: rgb(232, 197, 109);
color: white; 
}
#item-card img{
    z-index: -7;
    width: 15rem;
    height: 100%;
    border-radius: 1rem;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
}
#item-name{
    overflow: scroll;
    margin: 5px 0;
    margin-left: 0.5rem;
    font-weight: 600;
    font-size:medium;
    height: 20px;
}
#item-price{
    margin-left: 0.5rem;
    color: rgb(2, 27, 27);
    font-weight: 500;
    font-size: 18px;
}

.food-items{
    display: none;
}
.cart-toggle{
    display: none;
}
#cart-page{
    background: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}
#cart-title{
    font-size: 35px;
    margin: 0;
    color: rgb(232, 197, 109);
}
#cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}

.cart-btn{
    outline: none;
    border: none;
    background: rgb(108, 90, 43);
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}
#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}
#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: rgb(232, 197, 109);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}
#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}
#checkout p{
    margin: 15px 0;
    float: left;
}
#total-price,#total-item{
    font-size: larger;
    color: rgb(232, 197, 109);
}
#delievery{
    font-size: 20px;
    color: limegreen;
}
#cart{
    padding-right: 30px;
    overflow-y: scroll;
}

.item-menu{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
    
}
.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.list-card:hover{
    background: rgb(255, 216, 222);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}
.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-name{
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94, 43, 43);
}
.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}
#mobile-view{
    display: none;
}
#biryani{
    margin-top: 10px;
}
#m-total-amount{
    font-weight: 600;
    font-size: larger;
    position: absolute;
    right: 100px;
}